/* CSS files add styling rules to your content */


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

h1 {
  font-style: italic;
  color: #ffffff;
}

.conteudo{
  width:100%;
  
}

@media screen and (min-width: 601px) {
f{
  color: #fff;
  }
  .imgdate {
  overflow: hidden;
  position: relative;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  backface-visibility: hidden;
  display: block;
  background-color:black;
}
}
@media screen and (max-width: 600px) {
.imgdate {
  overflow: hidden;
  position: relative;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
  backface-visibility: hidden;
  display: block;
  background-color:white;
}
}
@media screen and (max-width: 600px) {
  escrit{
  font-size:14px;
  }
}
@media screen and (min-width: 601px) {
  .g{
    background-color:#181a18;
  } 
}

@media screen and (max-width: 600px) {
  .g{
  font-size:16px;
  width:100%; 
  background-color:black;
  height:136px;
  }
}

@media screen and (min-width: 601px) {
  iframe{
    width:50%;
    height:400px;
  } 
}

@media screen and (max-width: 600px) {
  iframe{
    width:100%;
    height:250px;
  }
}

@media screen and (max-width: 600px) {
  .textoimg{
 margin-top:60px;
    float:left;
    margin-right:0px;
  }
}

@media screen and (max-width: 600px) {
  .areas{
    width:100%;
    float:left;
    
  }
}

@media screen and (min-width: 601px) {
  .areas{
    width:50%;
    float:right;
    
  }
}

@media screen and (max-width: 600px) {
  .carousel-control-next,
  .carousel-control-prev{
  height:80%;
    }
  }
}

@media screen and (max-width: 600px) {
  .twitter {
    width:100%;
  }
}

@media screen and (max-width: 600px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
  filter: invert(1);
    }
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .p {
    font-size: 18px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .p {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .carousel-caption {
    font-size: 8px;
    height:60px;
        width:253px;
  }
}

@media screen and (min-width: 601px) {
  .carousel-caption {
    height:115px;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .tds {
    font-size: 19px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .tds {
    font-size: 10px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .carousel-indicators .inactive {
    width:20px;
  }
}

@media screen and (max-width: 600px) {
  .carousel-indicators {
    height:0px;
    bottom: -100px;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .ntexto {
    font-size: 18px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .ntexto {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
   .imagemnot {
     width: 50%;
  }
}

@media only screen and (max-width: 600px) {
   .img-carousel {
     height: 255px;
     width:360px;
  }
}
@media only screen and (max-width: 100px) {
   .nav-container {
     height: 400px
  }
}
@media only screen and (min-width: 601px) {
   .img-carousel {
     width: 759px
  }
}
@media only screen and (max-width: 600px) {
   .nav-container {
     width: 300px
  }
}

.alertt {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}  
      
      .alertt-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
      }
      .sticky {
    position: sticky;
    top: 0;
}

#inexador {
margin-left:100px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(2);
  padding: 0px;
  margin-left:10px;
  margin-right:10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}




/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #707070;
  border-radius: 100px 100px 100px 100px;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 60px;
  text-decoration: none;
  font-size: 17px;
  

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 7px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

@media screen and (min-width: 601px) {
.textoimg{
  margin-right:8px;
  float:right;
  }
}

@media screen and (min-width : 750px) {
#content{float:left;width:60%;}
#sidebar{float:right;width:35%}
} 
 
@media screen and (min-width : 481px) and (max-width : 749px) {
#content{width:95%;}
#sidebar{width:95%;}    
}

#conteudo{
    width: 100%;
    background-color:#464b52;
    height:155px;
    text-align: center;
    padding: 10px;
    margin-top:auto;
}

.carousel-indicators .active{
    background-color: #000000;
}
.carousel-indicators .inactive{
    background-color: #000000;
}



.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
  padding: 8px;
}

.column.side2 {
  width: 100%;
  padding: 1px;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 98%;
    padding: 16px;
  }
}

@media only screen and (min-width: 601px) {
  .lista{
    margin-left:100px;
  } 
}
@media only screen and (min-width: 601px) {
  .img171{
    height:180px;
    width:25%;
 }
}
@media only screen and (min-width: 601px) {
  .img17111{
    height:182px;
    width:24%;
 }
}
@media only screen and (max-width: 600px) {
  .img171{
    height:180px;
    width:100%;
    padding:10px;
 }
}
@media only screen and (max-width: 600px) {
  .img1711{
    height:180px;
    width:100%;
    padding:10px;
 }
}
@media only screen and (max-width: 600px) {
  .img17111{
    height:180px;
    width:100%;
    padding:10px;
 }
}

.lista{
  width:39%;
}

@media only screen and (max-width: 600px) {
   .lista {
       width: 85%;
       padding: 1px;
       margin-left:50px;
  }
}

.lista2{
  width:17%;
  text-align: -webkit-center;
}

.imagemnott{
  
  color:#fff;
}

@media only screen and (max-width: 600px) {
   .lista2 {
       width: 85%;
       padding: 3px;
       float:left;
       margin-left:50px;
       text-align: center;
  }
}

.lista3{
  width:39%;
  float:right;
}

@media only screen and (max-width: 600px) {
   .lista3 {
       width: 85%;
       padding: 3px;
       margin-left:50px;
       float:left;
  }
}

.center2 {
    display: block;
    text-align: -webkit-center;
}

@media only screen and (max-width: 600px) {
   .center2 {
    display: block;
    text-align: left;
    float:left;
  }
}

@media only screen and (min-width: 601px) {
   #conteudo{
    width: 100%;
    height:26%;
  }
}

#myinput{
  height:50px;
  width:40%;
  font-size:30px;
  text-align:start;
}
@media only screen and (max-width: 600px) {
  #april, #may, #august{
    margin-right:5%;
  }
}
@media only screen and (max-width: 600px) {
   #myinput{
  width:97%;
  float:left;
     text-align:center;
  }
}

#myinput2{
  height:50px;
  width:40%;
  font-size:30px;
  text-align:start;
}

@media only screen and (max-width: 600px) {
   #myinput2{
  width:97%;
  float:left;
     text-align:center;
  }
}

@media only screen and (min-width: 601px) {
.topnav a {
    background-color: #707070;
  }
}

@media only screen and (min-width: 601px) {
.navbar-dark{
    display: none;
  }
}

@media only screen and (max-width: 600px) {
.navbar-dark{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
  }
}

#pesquisarButtonId {
  transition-duration: 0.4s;
  width: 68px;
  height:39px;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0px;
  border: none;
  margin-top: 8px;
  margin-right: 35px;
  font-size: 17px;
}

#pesquisarButtonId:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

@media only screen and (max-width: 600px) {
#pesquisarButtonId {
  transition-duration: 0s;
  width: 0px;
  height:0px;
  display: none;
  text-align: center;
  margin: 0;
  padding: 0px;
  border: none;
  margin-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  f1{
    font-size:25px;
  }
}

@media only screen and (max-width: 600px) {
  #wrapper{
    margin-right:7%;
  }
}

@media only screen and (min-width: 601px) {
  #noticias{
    width:100%;
    height:100%;
    top: 600px;
 }
}
@media only screen and (min-width: 601px) {
  .img171{
    height:180px;
    width:24.95%;
    margin-bottom:3px;
 }
}
@media only screen and (min-width: 601px) {
  .img1711{
    height:375px;
    width:75.6%;
    display: block;
 }
}

.container2 {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  margin-left:12.225%;
  top:238px;
  bottom: 0;
  width:75.55%;
  height:375px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}
.overlay2 {
  position: absolute;
  margin-left:12.2%;
  top: 613px;
  bottom:0;
  width:25%;
  height:180px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.overlay3 {
  position: absolute;
  margin-left:37.5%;
  top: 613px;
  bottom:0;
  width:25%;
  height:180px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}
.overlay4 {
  position: absolute;
  margin-left:62.8%;
  top: 613px;
  bottom:0;
  width:25%;
  height:180px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}
.overlay5 {
  position: absolute;
  margin-left:12.2%;
  top: 796px;
  bottom:0;
  width:25%;
  height:180px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}
.overlay6{
  position: absolute;
  margin-left:37.5%;
  top: 796px;
  bottom:0;
  width:25%;
  height:180px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}
.overlay7 {
  position: absolute;
  margin-left:62.8%;
  top: 796px;
  bottom:0;
  width:25%;
  height:180px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.container:hover .overlay {
  opacity: 0.8;
}
.container:hover .overlay2 {
  opacity: 0.8;
}
.container:hover .overlay3 {
  opacity: 0.8;
}
.container:hover .overlay4 {
  opacity: 0.8;
}
.container:hover .overlay5 {
  opacity: 0.8;
}
.container:hover .overlay6 {
  opacity: 0.8;
}
.container:hover .overlay7 {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text2 {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 600px) 
{#noticias
    {
        display: none;
    }
}
@media (min-width: 601px) 
{#myCarousel
    {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
  #lightmode{
    width:85%;
    margin-left:40px;
  }
}

@media only screen and (min-width: 601px) {
  #lightmode{
    margin-left:40px;
 }
}

@media only screen and (max-width: 600px) {
.bg-dark a{
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: grey;
    padding: 15px 60px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px 20px 20px 20px;
    color: black;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
.bg-dark a.active{
    background-color: skyblue;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
.bg-dark .inputPesqId2{
    border-radius: 20px 20px 20px 20px;
    padding: 15px 60px;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
.bg-dark #pesquisarButtonId2{
  transition-duration: 0s;
  width: 0px;
  height:0px;
  display: none;
  text-align: center;
  margin: 0;
  padding: 0px;
  border: none;
  margin-top: 0px;
  }
}